{% extends "base.html" %}

{% block content %}
            <div class="row">
                <div class="large-12 columns">
                </div>
            </div>
            <br/>


{% endblock %}