{% extends "base.html" %}

{% block content %}
    {% for entry in baza %}
        <article xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
                 xmlns="http://www.w3.org/1999/html">
            <div class="row">
                <h5>{{ entry }}</h5>
            </div>
        </article>


    {% endfor %}
    <br/>


{% endblock %}