{% extends "base.html" %}

{% block content %}
    <form action="{% url 'wyszukaj' %}" method="POST" xmlns="http://www.w3.org/1999/html">
        {% csrf_token %}
        <div class="row">
            <div style="max-width: 400px">
                <textarea style="min-height: 100px;" required="required" rows="1" name="slowo" class="max-width" placeholder="wyrazenie..."></textarea></br>
            </div>
        </div>
        <div class="row">
            <button id="find" type="submit" class="btn">znajdz</button>
        </div>
    </form>

{% endblock %}